.page {
  display: flex;
  padding: 30px;
  flex-direction: column;
  background-color: rgb(56, 53, 53);
}

.page .profile {
  color: white;
  font-weight: 500;
  font-size: larger;
}

.repo-component-card {
  border: 2px solid whitesmoke;
  border-radius: 5px;
  padding: 20px;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

.repo-component-card:hover {
  cursor: pointer;
}

.repo-component-card .title {
  font-weight: 500;
  color: orange;
  font-size: large;
}

.repo-component-card .body {
  display: flex;
  justify-content: center;
  color: orange;
}